body {
  margin: 0;
  background: linear-gradient(135deg, black, #220033);
}
h2 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
}

.carousel-box {
  --shift-x: calc(80% * var(--progress));
  --shift-y: calc(40% * var(--progress));
  --rotate: calc(30deg * var(--progress));

  width: clamp(150px, 30vw, 300px);
  aspect-ratio: 3 / 4;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) translate(var(--shift-x), var(--shift-y))
    rotate(var(--rotate));
  opacity: var(--opacity);
  z-index: var(--active);

  transition: transform 0.5s linear 0s, opacity 0.5s linear 0s;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  border-radius: 10px;
  overflow: hidden;
}

.carousel-box .title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  z-index: 3;

  align-self: end;
  padding: 10px 20px;

  font-size: clamp(20px, 3vw, 30px);
  font-weight: bold;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.carousel-box .num {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 3;

  align-self: start;
  padding: 10px 20px;

  font-size: clamp(40px, 6vw, 60px);
  font-weight: bold;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.carousel-box img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  z-index: 1;
}

.carousel-box::after {
  content: "";

  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5)
  );
  z-index: 2;
}
